@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<S3Train.Domain.LoaiSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/SP.cshtml";
}

<h2>Sơ Đồ Phân Loại Sản Phẩm</h2>

<p class="btn btn-success mb-1" type="button">
    @Html.ActionLink("Thêm mới loại sản phẩm", "Create")
</p>
<br />
<br />

<div class="col-xl-12 col-lg-7 mb-4">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>

                <th>
                    Loại Sản Phẩm
                </th>
                <th>
                    Phân Loại
                </th>
                <th></th>
            </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenLoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhanLoai.TenPhanLoai)
                    </td>
                    
                    <td>
                        <a href="@Url.Action("Edit", "LoaiSanPhams", new { id = item.Id })" class="btn btn-warning btn-sm"><i class="fas fa-pen" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }

    </table>
</div>


    @*Create page link*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <div class="MenuPage">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <style>
        .MenuPage li {
            display: inline;
        }
    </style>
