@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<S3Train.Domain.KhuyenMai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/KM.cshtml";
}

<h2>Danh sách chương trình khuyến mãi</h2>

<p class="btn btn-success mb-1" type="button">
    @Html.ActionLink("Thêm mới chương trình khuyến mãi", "Create")
</p>
<br />
<br />
@using (Html.BeginForm("Index", "KhuyenMais", FormMethod.Get))
{
    @Html.TextBox("search")
    <input type="submit" style="color:white" value="Tìm Kiếm">
}
<br />
@using (Html.BeginForm("Index", "KhuyenMais", FormMethod.Get))
{
    <div class="col-xl-12 col-lg-7 mb-4">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>
                        Tên chương trình
                    </th>
                    <th>
                        Thời gian bắt đầu
                    </th>
                    <th>
                        Thời gian kết thúc
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenKM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThoiGianBD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThoiGianKT)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "KhuyenMais", new { id = item.Id })" class="btn btn-warning btn-sm"><i class="fas fa-pen" aria-hidden="true"></i></a>
                        <a href="@Url.Action("Index", "CT_KhuyenMai", new { id = item.Id })" class="btn btn-info btn-sm"><i class="fas fa-info-circle" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
}
    @*Create page link*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <div class="MenuPage">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <style>
        .MenuPage li {
            display: inline;
        }
    </style>
