@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<S3Train.Domain.SanPham>

@{
    ViewBag.Title = "Index";
}




    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="~/Areas/Admin/Content/img/logo/icon.jpg" rel="icon">
        <title>Nhà sách Nguyễn Văn Cừ</title>
        <link href="~/Areas/Admin/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="~/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/Areas/Admin/Content/css/ruang-admin.min.css" rel="stylesheet">
    </head>

    <body id="page-top">
        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "HomeAdmin")">
                    <div class="sidebar-brand-icon">

                    </div>
                    <div class="sidebar-brand-text mx-3"><img src="~/Content/images/sach.png" width="200" height="70" alt=" " /></div>
                </a>
                <hr class="sidebar-divider my-0">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "HomeAdmin")">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Trang chủ</span>
                    </a>
                </li>
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    Chức năng
                </div>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable" aria-expanded="true"
                       aria-controls="collapseTable">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Quản lý sản phẩm</span>
                    </a>
                    <div id="collapseTable" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Quản lý sản phẩm</h6>
                            <a class="collapse-item" href="@Url.Action("Index", "SanPhams")">Danh mục sách</a>
                            <a class="collapse-item" href="@Url.Action("Index", "SanPhams1")">Danh mục văn phòng phẩm</a>
                            <a class="collapse-item" href="@Url.Action("Index", "LoaiSanPhams")">Phân loại sản phẩm</a>
                            <a class="collapse-item" href="@Url.Action("Index", "NhaSanXuats")">Nhà sản xuất</a>
                            <a class="collapse-item" href="@Url.Action("Index", "NhaCungCaps")">Nhà cung cấp</a>
                        </div>
                    </div>
                </li>
                


            </ul>
            <!-- Sidebar -->
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <!-- TopBar -->
                    <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                        <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                        <ul class="navbar-nav ml-auto">
                            
                            <div class="topbar-divider d-none d-sm-block"></div>
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    @*<img class="img-profile rounded-circle" src="@Url.Content("~/ImagePD/"+Session["hinhanh"])" style="max-width: 60px">*@
                                    <span class="ml-2 d-none d-lg-inline text-white small">Xin chào @Session["tendn"]</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="@Url.Action("TK","HomeAdmin")">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Tài khoản
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("Logout","Login")">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Đăng xuất
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- Topbar -->
                    <!-- Container Fluid-->
                    <div class="container-fluid" id="container-wrapper">
                        <h2>Danh mục Sách</h2>

                        <p class="btn btn-success mb-1">
                            @Html.ActionLink("Thêm mới sách", "Create")
                        </p>
                        <br />
                        <br />
                        @using (Html.BeginForm("Index", "SanPhams", FormMethod.Get))
                        {
                            @Html.TextBox("search")
                            <input type="submit" style="color:white" value="Tìm Kiếm">
                        }
                        <br />
                        @using (Html.BeginForm("Index", "SanPhams", FormMethod.Get))
                        {
                            <div class="col-xl-12 col-lg-7 mb-4">
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>
                                                Hình ảnh
                                            </th>
                                            <th>
                                                Tên sách
                                            </th>
                                            <th>
                                                Ngôn ngữ
                                            </th>
                                            <th>
                                                Tác giả
                                            </th>
                                            <th>
                                                Nhà xuất bản
                                            </th>
                                            <th>
                                                Gía
                                            </th>
                                            <th>
                                                Loại sách
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <img src="@Url.Content("~/ImagePD/" + item.HinhAnh)" width="50" height="50" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TenSP)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NgonNgu.TenNN)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TacGia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NhaSanXuat.TenNSX)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Gia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoai)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit", "SanPhams", new { id = item.Id })" class="btn btn-warning btn-sm"><i class="fas fa-pen" aria-hidden="true"></i></a>
                                                @*<a href="@Url.Action("Details", "SanPhams", new { id = item.Id })" class="btn btn-info btn-sm"><i class="fas fa-info-circle" aria-hidden="true"></i></a>*@
                                                <a href="@Url.Action("Delete", "SanPhams", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fas fa-trash" aria-hidden="true"></i></a>

                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        }
                            @*Create page link*@
                            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                            <div class="MenuPage">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                            </div>



                            <!--Row-->



                        </div>
                    <!---Container Fluid-->
                </div>
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>
                                copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> - developed by
                                <b><a href="https://indrijunanda.gitlab.io/" target="_blank">indrijunanda</a></b>
                            </span>
                        </div>
                    </div>
                </footer>
                <!-- Footer -->
            </div>
        </div>

        <!-- Scroll to top -->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <script src="~/Areas/Admin/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Areas/Admin/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/Areas/Admin/Content/js/ruang-admin.min.js"></script>
        <script src="~/Areas/Admin/Content/vendor/chart.js/Chart.min.js"></script>
        <script src="~/Areas/Admin/Content/js/demo/chart-area-demo.js"></script>
    </body>

</html>

<style>
    .MenuPage li {
        display: inline;
    }
</style>
