@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<S3Train.Domain.HoaDon>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/TK.cshtml";
}


<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                Mã DH
            </th>
            <th>
                Tên KH
            </th>
            <th>
                SĐT
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Ngày cập nhật
            </th>
            <th>
                Trạng thái
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.DiaChi),
                @Html.DisplayFor(modelItem => item.ApplicationUser.Phuong),
                @Html.DisplayFor(modelItem => item.ApplicationUser.Quan),
                @Html.DisplayFor(modelItem => item.ApplicationUser.ThanhPho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
        </tr>
    }

</table>

@*Create page link*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <div class="MenuPage">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <style>
        .MenuPage li {
            display: inline;
        }
    </style>