@model S3Train.Domain.NhanVien
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Đổi mật khẩu</h2>
<h4 class="text-danger">
    @Html.Raw(TempData["Message"])
</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TenNV)
        @Html.HiddenFor(model => model.MaCV)
        @Html.HiddenFor(model => model.HinhAnh)
        @Html.HiddenFor(model => model.DiaChi)
        @Html.HiddenFor(model => model.GioiTinh)
        @Html.HiddenFor(model => model.NgaySinh)
        @Html.HiddenFor(model => model.SDT)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.MaNhom)
        @Html.HiddenFor(model => model.CMND)
        @Html.HiddenFor(model => model.TenDN)
        @Html.HiddenFor(model => model.TrangThai)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-2 control-label">Nhập mật khẩu cũ</label>
            <div class="col-md-6">
                @Html.Password("mkc")
                @ViewBag.mk
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Nhập mật khẩu mới</label>
            <div class="col-md-6">
                @Html.Password("mkm")
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Nhập lại mật khẩu mới</label>
            <div class="col-md-6">
                @Html.Password("mkn")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p class="them">
                    <input type="submit" value="Lưu" class="btn btn-primary mb-1" />
                </p>
            </div>
        </div>
    </div>
}
<script src="~/Content/js/jquery-1.11.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("them").click(function () {
            $.get("/Admin/HomeAdmin/ChangePassword", { Mkm: $("#mkm").val(), Mkc: $("#mkc"), Mkn: $("#mkn") }, function (data) {
                $("#mkm").empty();
                $("#mkc").empty();
                $("#mkn").empty();
            })
        })
    });
</script>

