@model S3Train.Domain.NhanVien
@{
    ViewBag.Title = "TK";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Thông tin cá nhân</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Họ tên:</dt>
        <dd>
            @Model.TenNV
        </dd>
        <dt>Hình ảnh:</dt>
        <dd>
            <img src="@Url.Content("~/ImagePD/"+Model.HinhAnh)" width="50" height="50" />
        </dd>
        <dt>Số điện thoại:</dt>
        <dd>
            @Model.SDT
        </dd>
        <dt>CMND:</dt>
        <dd>
            @Model.CMND
        </dd>
        <dt>Địa chỉ:</dt>
        <dd>
            @Model.DiaChi
        </dd>
        <dt>Giới tính:</dt>
        <dd>
            @Model.GioiTinh
        </dd>
        <dt>Ngày sinh:</dt>
        <dd>
            @Model.NgaySinh.ToShortDateString()
        </dd>
        <dt>Email:</dt>
        <dd>
            @Model.Email
        </dd>
        <dt>Password:</dt>
        <dd>
            @Html.ActionLink("Đổi mật khẩu", "ChangePassword")
        </dd>
    </dl>
</div>

