@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<S3Train.Domain.NhaCungCap>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Areas/Admin/Views/Shared/SP.cshtml";
}

<h2>Danh sách Nhà cung cấp</h2>

<p class="btn btn-success mb-1" type="button">
    @Html.ActionLink("Thêm mới nhà cung cấp", "Create")
</p>
<br />
<br />

<div class="col-xl-12 col-lg-7 mb-4">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>
                    Tên 
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Email
                </th>
                <th>
                    SĐT
                </th>
                <th>
                    Thông tin thêm
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThongTinThem)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "NhaCungCaps", new { id = item.Id })" class="btn btn-warning btn-sm"><i class="fas fa-pen" aria-hidden="true"></i></a>
                    <a href="@Url.Action("Delete", "NhaCungCaps", new { id = item.Id })" class="btn btn-danger btn-sm"><i class="fas fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        }

    </table>
</div>

@*Create page link*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <div class="MenuPage">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <style>
        .MenuPage li {
            display: inline;
        }
    </style>