
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Areas/Admin/Content/img/logo/icon.jpg" rel="icon">
    <title>Nhà sách Nguyễn Văn Cừ</title>
    <link href="~/Areas/Admin/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Areas/Admin/Content/css/ruang-admin.min.css" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "HomeAdmin")">
                <div class="sidebar-brand-icon">

                </div>
                <div class="sidebar-brand-text mx-3"><img src="~/Content/images/sach.png" width="200" height="70" alt=" " /></div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "HomeAdmin")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Trang chủ</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Chức năng
            </div>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "ApplicationUsers")">
                    <i class="fab fa-fw fa-wpforms"></i>
                    <span>Thống kê</span>
                </a>
            </li>


        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                @*<img class="img-profile rounded-circle" src="@Url.Content("~/ImagePD/"+Session["hinhanh"])" style="max-width: 60px">*@
                                <span class="ml-2 d-none d-lg-inline text-white small">Xin chào @Session["tendn"]</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="@Url.Action("TK","HomeAdmin")">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Tài khoản
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Logout","Login")">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->
                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    @RenderBody()
                    @RenderSection("Scripts", false)


                    <!--Row-->



                </div>
                <!---Container Fluid-->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>
                            copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> - developed by
                            <b><a href="https://indrijunanda.gitlab.io/" target="_blank">indrijunanda</a></b>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    @*<script src="~/Areas/Admin/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Areas/Admin/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/Areas/Admin/Content/js/ruang-admin.min.js"></script>
        <script src="~/Areas/Admin/Content/vendor/chart.js/Chart.min.js"></script>
        <script src="~/Areas/Admin/Content/js/demo/chart-area-demo.js"></script>*@
    <script src="~/Content/TemplateAdmin/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/TemplateAdmin/js/jquery-migrate-1.0.0.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery-ui-1.10.0.custom.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.ui.touch-punch.js"></script>

    <script src="~/Content/TemplateAdmin/js/modernizr.js"></script>

    <script src="~/Content/TemplateAdmin/js/bootstrap.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.cookie.js"></script>

    <script src='~/Content/TemplateAdmin/js/fullcalendar.min.js'></script>

    <script src='~/Content/TemplateAdmin/js/jquery.dataTables.min.js'></script>

    <script src="~/Content/TemplateAdmin/js/excanvas.js"></script>
    <script src="~/Content/TemplateAdmin/js/jquery.flot.js"></script>
    <script src="~/Content/TemplateAdmin/js/jquery.flot.pie.js"></script>
    <script src="~/Content/TemplateAdmin/js/jquery.flot.stack.js"></script>
    <script src="~/Content/TemplateAdmin/js/jquery.flot.resize.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.chosen.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.uniform.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.cleditor.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.noty.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.elfinder.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.raty.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.iphone.toggle.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.uploadify-3.1.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.gritter.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.imagesloaded.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.masonry.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.knob.modified.js"></script>

    <script src="~/Content/TemplateAdmin/js/jquery.sparkline.min.js"></script>

    <script src="~/Content/TemplateAdmin/js/counter.js"></script>

    <script src="~/Content/TemplateAdmin/js/retina.js"></script>

    <script src="~/Content/TemplateAdmin/js/custom.js"></script>
</body>

</html>
